*{
    background-color: #324AB2;
    color : #FFF;
    font-family: "Gill Sans", sans-serif;
    margin:0;
    padding:0;
}

header{
    margin-bottom: 7vh;
}

/*index*/
#case{
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    max-width: 200vh;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
#me{
    font-size: 7vh;
    font-weight: bold;
    margin-bottom: 4vh;
}
#links{
    display: flex;
    flex-direction: row;
    text-decoration: none;
}

#links > a {
    font-size: 3vh;
    margin-right: 2vh;
    text-decoration: none;
}

#links > a:hover {
    box-shadow: 3px 3px 2px black ;
}

/*Bénévolat*/
#entete-benevole{
    height: auto;
    margin-bottom: 7vh;
    width: 100%;
    max-width: 200vh;
    text-align: center;
}

#innovlab{
    margin-left: 1vh;
}